<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Real vs Fake Face Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id = 'header'>
        <h1 class="poppins-black">Deepfake Detection</h1>
    </div>  
    <div class="instruction">
        <p class="ibm-plex-mono-semibold instruction">
        Upload an image to check whether the face is real or fake.
        </p>
    </div>  

    <div id="upload-box">

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <br><br>
            <button type="submit">Detect</button>
        </form>
    </div>

    {% if result %}
        <h2>Result</h2>
        <p><strong>Prediction:</strong> {{ result }}</p>
        <p><strong>Confidence:</strong> {{ confidence }}%</p>
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

</body>
</html>
